body{
    background-color: rgb(201, 217, 231);
}
header{
    position: absolute;
    top: 0px;
    left: 130px;
    width: 91%;
    height: 100px;
    padding: 1px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: aliceblue;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
}
aside{
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(19, 18, 18, 0.958);
    width: 130px;
    height: 100%;
}

aside h3{
    position: relative;
    text-align: center;
    color: rgb(241, 232, 221);
}
aside div a{
    display: block;
    height: 20px;
    position: relative;
    left: 10px;
    color: rgb(240, 248, 255);
}
aside div:hover{
    background-color: rgb(2, 2, 2);
}
#card{
    display: flex;
    position: relative;
    border: 1px solid rgb(243, 250, 251);
    width:90vw;
    height: 450px;
    background-color: aliceblue;
    top: 100px;
    left: 130px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#card p{
    margin: 2px;
}
section > .card{
    background-color: rgb(244, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    border: 1px solid black;
    border-radius: 2px;
    width: 300px;
    height: 400px;
}
img{
    width: 200px;
    height: 200px;
}

#blog{
    display: flex;
    position: relative;
    border: 1px solid rgb(240, 248, 255);
    width:90vw;
    height: 450px;
    background-color: aliceblue;
    top: 100px;
    left: 130px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
article{
    width: 1500px;
    height: 300px;
    display: flex;
    justify-content: space-around;
}

article div{
    display: block;
    border: 1px solid black;
    border-radius: 3px;
    background-color:rgb(244, 255, 255);
    width: 300px;
    text-align: center;
}
article p{
    margin: 2px;
}
#more1,
#more2,
#more3 {
    visibility: hidden;
}

#more1:target,
#more2:target,
#more3:target {
    visibility: visible;
}
body:has(#more1:target) #i {
    width: 500px;
    height: 350px;
}
body:has(#more2:target) #ii {
    width: 500px;
    height: 350px;
}
body:has(#more3:target) #iii {
    width: 500px;
    height: 350px;
}
footer{
    position: relative;
    top: 100px;
    left: 130px;
    width: 91%;
    height: 50px;
    padding: 1px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: aliceblue;
}
.card{
    transition-property: transform;
    transition-duration: 0.5s;
}
.card:hover{
    background-color: rgb(225, 229, 237);
    transform: scale(1.02,1.02);
}

